<!--3.6 prepraviti home html ->cities.html-->
<mat-toolbar color="primary" class="navbar">
    <a [routerLink]="[ '/cities']">Cities</a>&nbsp;
    
    <!--7.7 dodati link za countries ->-->
    <a [routerLink]="[ '/countries']">Countries</a>
</mat-toolbar>