<div class="container" style="display: contents;">
  <div class="row">
      <div class="col">
      </div>
  </div>
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
