/*11.3 dodati css ->app.module.ts*/
input.ng-valid {
    border-left: 5px solid green;
    }
    input.ng-invalid.ng-dirty,
    input.ng-invalid.ng-touched {
    border-left: 5px solid red;
    }
    input.ng-valid ~ .valid-feedback,
    input.ng-invalid ~ .invalid-feedback {
    display: block;
    }