<!--7.4 dodati html ->countries.component.css-->
<h1>Countries</h1>
<p>Here's a list of countries: feel free to play with it.</p>
<p *ngIf="!countries"><em>Loading...</em></p>
<!--11.5 dodati dio za error i edit ->city-edit.component.ts-->
<div class="commands text-right" *ngIf="countries">
    <button type="submit"
    [routerLink]="['/country']"
    class="btn btn-success">
    Add a new Country
    </button>
    </div>
<mat-form-field [hidden]="!countries">
  <input
    matInput
    (keyup)="loadData($event.target.value)"
    placeholder="Filter by name (or part of it)..."
  />
</mat-form-field>
<table
  mat-table
  [dataSource]="countries"
  class="mat-elevation-z8"
  [hidden]="!countries"
  matSort
  (matSortChange)="loadData()"
  matSortActive="{{ defaultSortColumn }}"
  matSortDirection="{{ defaultSortOrder }}"
>
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let country">{{ country.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <!--11.5 dodati link za edit-->
    <td mat-cell *matCellDef="let country">
        <a [routerLink]="['/country', country.id]">{{country.name}}</a>
        </td>
  </ng-container>

  <!-- Lat Column -->
  <ng-container matColumnDef="iso2">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ISO 2</th>
    <td mat-cell *matCellDef="let country">{{ country.iso2 }}</td>
  </ng-container>
  <!-- Lon Column -->
  <ng-container matColumnDef="iso3">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ISO 3</th>
    <td mat-cell *matCellDef="let country">{{ country.iso3 }}</td>
  </ng-container>
  <!--13.6 dodati html za totcitija ->-->
  <!-- TotCities Column -->
<ng-container matColumnDef="totCities">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>
  Tot. Cities
  </th>
  <td mat-cell *matCellDef="let country">
  {{country.totCities}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<!-- Pagination directive -->
<mat-paginator
  [hidden]="!countries"
  (page)="getData($event)"
  [pageSize]="10"
  [pageSizeOptions]="[10, 20, 50]"
  showFirstLastButtons
></mat-paginator>
