<!--3.3 Dodati html ->angular-material.module.ts-->
<!--5.4 dodti html za filtere i sort ->CitiesCOntroller-->
<h1>Cities</h1>
<p>Here's a list of cities: feel free to play with it.</p>
<p *ngIf="!cities"><em>Loading...</em></p>
<!--9.2 Dodati add button ->app.module.ts-->
<div class="commands text-right" *ngIf="cities">
  <button type="button"
  [routerLink]="['/city']"
  class="btn btn-success">
  Add a new City
  </button>
  </div>
<!--6.3 dodati htmlo za filtere-->
<mat-form-field [hidden]="!cities">
  <input
    matInput
    (keyup)="loadData($event.target.value)"
    placeholder="Filter by name (or part of it)..."
  />
</mat-form-field>
<table
  mat-table
  [dataSource]="cities"
  class="mat-elevation-z8"
  [hidden]="!cities"
  matSort
  (matSortChange)="loadData()"
  matSortActive="{{ defaultSortColumn }}"
  matSortDirection="{{ defaultSortOrder }}"
>
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let city">{{ city.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <!--8.5 dodati link za edit ->city-edit.component.ts-->
    <td mat-cell *matCellDef="let city">
    <a [routerLink]="['/city', city.id]">{{city.name}}</a>
    </td>
  </ng-container>

  <!-- Lat Column -->
  <ng-container matColumnDef="lat">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Latitude</th>
    <td mat-cell *matCellDef="let city">{{ city.lat }}</td>
  </ng-container>
  <!-- Lon Column -->
  <ng-container matColumnDef="lon">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Longitude</th>
    <td mat-cell *matCellDef="let city">{{ city.lon }}</td>
  </ng-container>
  <!--14.4 dodati html ->base.service.ts-->
  <!-- CountryName Column -->
<ng-container matColumnDef="countryName">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
  <td mat-cell *matCellDef="let city">
  <a [routerLink]="['/country',
  city.countryId]">{{city.countryName}}</a>
  </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<!--4.2 dodati html za paginaciju ->CitiesController-->
<!--4.7 dodati page event u dio za paginaciju ->ApiResult.cs-->
<!-- Pagination directive -->
<mat-paginator
  [hidden]="!cities"
  (page)="getData($event)"
  [pageSize]="10"
  [pageSizeOptions]="[10, 20, 50]"
  showFirstLastButtons
></mat-paginator>
