<!--8.2 Dodati html za edit ->city-edit.component.css-->
<div class="city-edit">
  <h1>{{ title }}</h1>
  <!--9.1 dodati provjeru id ->cities.component.html-->
  <p *ngIf="this.id && !city"><em>Loading...</em></p>
  <!--10.2 dodati html ->city-edit.component.css -> city-edit.component.ts-->
  <div class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <!--10.5 dodati error html ->-->
    <div
      *ngIf="form.invalid && form.errors?.isDupeCity"
      class="alert alert-danger"
    >
      <strong>ERROR</strong>: A city with the same <i>name</i>, <i>lat</i>,
      <i>lon</i> and <i>country</i> already exists.
    </div>
    <!--10.5-->
    <div class="form-group">
      <label for="name">City name:</label>
      <br />
      <input
        type="text"
        id="name"
        formControlName="name"
        required
        placeholder="City name..."
        class="form-control"
      />
      <div
        *ngIf="
          form.get('name').invalid &&
          (form.get('name').dirty || form.get('name').touched)
        "
        class="invalid-feedback"
      >
        <div *ngIf="form.get('name').errors?.required">
          Name is required.
        </div>
        <!--12.1 Dodati validaciju za ime ->base.form.componenet.ts-->
        <div *ngIf="hasError('name')" class="invalid-feedback">
          <div *ngIf="form.get('name').errors?.required">
            Name is required.
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="lat">City latitude:</label>
      <br />
      <input
        type="text"
        id="lat"
        formControlName="lat"
        required
        placeholder="Latitude..."
        class="form-control"
      />
      <div
        *ngIf="
          form.get('lat').invalid &&
          (form.get('lat').dirty || form.get('lat').touched)
        "
        class="invalid-feedback"
      >
        <div *ngIf="form.get('lat').errors?.required">
          Latitude is required.
        </div>
        <!--12.1 dodati validaciju za lat-->
        <div *ngIf="hasError('lat')" class="invalid-feedback">
          <div *ngIf="form.get('lat').errors?.required">
            Latitude is required.
          </div>
          <!--13.1 Dodati html -> CountriesController.cs-->
          <div *ngIf="form.get('lat').errors?.pattern">
            Latitude requires a positive or negative number with 0-4
            decimal values.
            </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="lon">City longitude:</label>
      <br />
      <input
        type="text"
        id="lon"
        formControlName="lon"
        required
        placeholder="Latitude..."
        class="form-control"
      />
      <div
        *ngIf="
          form.get('lon').invalid &&
          (form.get('lon').dirty || form.get('lon').touched)
        "
        class="invalid-feedback"
      >
        <div *ngIf="form.get('lon').errors?.required">
          Longitude is required.
        </div>
        <!--13.1-->
        <div *ngIf="form.get('lon').errors?.pattern">
          Longitude requires a positive or negative number with 0-4
          decimal values.
          </div>
      </div>
    </div>
    <div class="form-group">
      <label for="lon">Country:</label>
      <br />
      <mat-form-field *ngIf="countries">
        <mat-label>Select a Country...</mat-label>
        <mat-select id="countryId" formControlName="countryId">
          <mat-option *ngFor="let country of countries" [value]="country.id">
            {{ country.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div
        *ngIf="
          form.get('countryId').invalid &&
          (form.get('countryId').dirty || form.get('countryId').touched)
        "
        class="invalid-feedback"
      >
        <div *ngIf="form.get('countryId').errors?.required">
          Please select a Country.
        </div>
      </div>
    </div>
    <div class="form-group commands">
      <button
        *ngIf="id"
        type="submit"
        (click)="onSubmit()"
        [disabled]="form.invalid"
        class="btn btn-success"
      >
        Save
      </button>
      <button
        *ngIf="!id"
        type="submit"
        (click)="onSubmit()"
        [disabled]="form.invalid"
        class="btn btn-success"
      >
        Create
      </button>
      <button type="submit" [routerLink]="['/cities']" class="btn btn-default">
        Cancel
      </button>
    </div>
  </div>
</div>
